/* approccio mobile-first */

/* xs layout */

@media screen and (max-width:576px) {

    .top-aside ul li {
        display: none;
    }
}

/* mobile */
@media screen and (min-width: 576px) {
    #main-content aside {
        width: 200px;
    }

    .top-aside .logo {
        display: none;
    }

    .top-aside .big-logo {
        display: inline-block;
        opacity: 1;
        width: 80px;
    }

    .top-aside .big-logo img {

        width: 80px;
        height: 40px;
    }

    /* .top-aside ul {
        overflow: auto;

} */
    .top-aside .playlist-section {
        display: inline-block;
    }

    .top-aside ul li {
        display: flex;
    }

}




/* tablet */
@media screen and (max-width:768px) {}

/* desktop */
@media screen and (min-width:992px) {}