/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  generics */

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}

h2,
h3,
h4 {
    color: #fff;
}




/* utils */
.d-flex {
    display: flex;
}

/* layout con flex */

.wrapper {
    flex-direction: column;
    height: 100vh;
}


/* header */


#main-content {
    height: 100%;

}

/* aside */
aside {
    flex-basis: 50px;
    flex-shrink: 0;

    padding: 0.4rem;
    background-color: #000;
    color: #D2D2D2;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: smaller;


}

/* top aside */

.big-logo {
    display: none;
}

.top-aside img {
    width: 25px;
    opacity: 0.5;
}

.top-aside .logo img {
    opacity: 1;
}

.top-aside .home a,
.top-aside .search a,
.top-aside .library a {
    align-items: center;
    color: #989898;
    padding-top: 00.25rem;
}

.download-app {
    opacity: 0.6;
}

.download-app:hover {
    opacity: 1;
}

.active-left {
    border-left: 2px solid #adff2f;
}

.new-playlist {
    align-items: center;
}


.playlist-section a {
    color: #989898;
    padding: 0.25rem;

}

.playlist-section {
    display: none;
    padding-top: 0.8rem;
    max-height: 100%;
}


.playlist-section h3 {
    padding: 0.5rem 0;
}

.playlist-section .name-playlist {
    overflow-y: auto;
}

.playlist-section .name-playlist a {
    display: inline-block;
}

.content .navbar .active::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
}

.top-aside a:hover,
.bottom-aside a:hover,
.content .navbar a:hover {
    color: #fff;
}



/* bottom aside */

.bottom-aside {
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.bottom-aside hr {
    margin: 0.35rem 0;
}

.bottom-aside .download-app,
.bottom-aside .user {
    align-items: center;
}

.bottom-aside span {
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
}

.bottom-aside .user span {
    color: #fff;
    font-weight: bold;
}

.bottom-aside .download-app {
    text-align: center;
    color: #989898;
}

.bottom-aside .download-app img {
    width: 18px;
}



.bottom-aside .user img {
    background-color: #989898;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* content */

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;


    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);

    text-align: right;
    line-height: 75px;

    padding: 0 1.1rem;
}

header .btnh {
    text-transform: uppercase;
    color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #fff;
    padding: 0.75rem;

}

header a:hover .btnh {
    transform: scale(.8)
}

main {
    flex-grow: 1;
    overflow: auto;

}

.content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;
    font-size: small;
}


.content .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content .navbar li a {
    color: #7C7E83;
    padding: 0.5rem;
    display: inline-block;
}

/* recently played */

section h2 {
    padding: 1rem 0.5rem;
}

#recently-played .row {
    flex-wrap: wrap;
}

#recently-played .col,
#created-for-you .col,
#most-popular .col {
    flex-basis: 50%;
    padding: 00.5rem;
    text-align: center;
}

#recently-played figure {
    padding: 0.8rem 0;
}

#recently-played .col>div {
    color: #77797E;
    padding-top: 0.5rem;
}

/* created for you */

.section-description {
    color: #7C7E83;
    padding: 0.8rem 0.5rem;
}

/* most popular artist */
#most-popular img {
    border-radius: 50%;
}

/* footer */


footer {

    background-color: #282828;
    flex-basis: 100px;
    flex-shrink: 0;

    justify-content: space-between;
    align-items: center;

    padding: 0.4rem;
    color: #fff;

    font-size: x-small;

}

/* footer left side */
footer .image-container {
    align-items: center;
}

footer .currently-played img {
    width: 45px;
    padding: 0.5rem 0.5rem;
}

footer p,
footer .shortcut {
    color: #7E7E7E;
}

footer .shortcut {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.85rem;
}


/* footer central side */

footer .player ul {
    align-items: center;
    justify-content: center;
}

footer .player li {
    margin: 0.5rem 0.65rem;
}

footer .bottom-player {
    align-items: center;
}

footer .fa-circle-play:hover {
    transform: scale(1.2);
}

/*+++++++++++++++ REMINDER +++++++++++++++++
CENTRALIZZARE TUTTI I -bar CON CARATTERISTICHE COMUNI, CERCARE TAG
 */

footer .time-bar {
    height: 5px;
    background-color: #5A5A5A;

    width: 25vw;
    flex-grow: 1;
    border-radius: 0.25rem;

    margin: 0 0.5rem;
    cursor: pointer;
}

footer .effective-time-passed-bar {
    width: 15%;
    height: 100%;
    background-color: #C1C1C1;
    border-radius: 0.25rem;

    position: relative;
}

footer .time-bar:hover .effective-time-passed-bar,
footer .volume-bar:hover .set-volume-bar {
    background-color: #aafa5f;
}

footer .time-bar:hover .bar-point,
footer .volume-bar:hover .bar-point {
    display: block;
}

footer .bar-point {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}

footer .audio-set-up {
    align-items: center;

}

/* footer right side */

footer .setting-player li {
    padding: 0 0.5rem;
}

footer .volume-bar {
    height: 5px;
    width: 3.75rem;
    margin-left: 0.5rem;
    background-color: #5A5A5A;
    border-radius: 0.25rem;
    cursor: pointer;
}


footer .set-volume-bar {
    width: 42%;
    height: 100%;
    background-color: #C1C1C1;
    border-radius: 0.25rem;
    position: relative;


}