/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  generics */

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* layout-blocchettoni */

section {
    min-height: 15rem;
    background-color: rgb(24, 22, 177);
}

#main-header {
    height: 75px;
    position: sticky;
    top: 0;
    left: 155px;
    background-color: rgba(0, 0, 0, 0.5);
}

.side-menu {
    width: 155px;
    background-color: rgb(48, 197, 60);
    min-height: 100vh;
}

#main-footer {
    width: 100vw;
    background-color: rgb(231, 31, 31);
    height: 75px;
    position: sticky;
    bottom: 0;
    left: 0;
}