/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  generics */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* utils */
.d-flex {
    display: flex;
}

/* layout-blocchettoni */

main {
    height: calc(100vh - 100px);
}

aside {
    width: 200px;
    background-color: rgb(48, 197, 60);
    height: 100%;

    flex-direction: column;
    justify-content: space-between;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);

    text-align: right;
    line-height: 100px;
}

#main-content {
    height: 100%;

    overflow: auto;
}

.content {
    padding-top: 100px;
}


#main-footer {
    width: 100vw;
    background-color: rgb(231, 31, 31);
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}